<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="showMenu = !showMenu"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="showMenu ? 'show' : 'hide'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="users">Users</a>
      </li>


      <!-- TODO: Add all pages-->



      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a *ngIf="!isUserLoggedIn" (click)="signIn($event)" class="nav-link" href="#">Log In</a>
      </li>
      <li class="nav-item text-nowrap">
        <a *ngIf="!isUserLoggedIn" (click)="signUp($event)" class="nav-link" href="#">Sign In</a>
      </li>
      <li class="nav-item text-nowrap">
        {{username}}
      </li>
      <li class="nav-item text-nowrap">
        <a *ngIf="isUserLoggedIn" class="nav-link" href="#" (click)="logOut($event)">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
